<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>iMac Portal</title>
    {% load static %}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.js"></script> 
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.9.0/moment.min.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.37/css/bootstrap-datetimepicker.min.css" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.37/js/bootstrap-datetimepicker.min.js"> </script>
    <link href="static/portal.css" rel="stylesheet">
</head>
  <body>
    <nav class="navbar bg-body-tertiary">
        <div class="container-fluid">
          <a class="navbar-brand" href="/">
            <img src="static/assets/SRMLogo.png" alt="Logo" width="100" height="60" class="d-inline-block align-text-centre">
            iMac Portal
          </a>
          <a class="btn btn-primary" href="logout" role="button">Log Out</a>
        </div>
      </nav>
      

    <div class="body-container">
        <div class="seat-graphic-card">
            <form class="close-labs-graphic-card" method="post" action="loadlab">
                {% csrf_token %}
                <div class="lab-label">
                    <h1 style="position: absolute; font-size: 20px; top: 2px;">Lab {{lab_no}}</h1>
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-caret-down-fill" viewBox="0 0 16 16">
                        <path d="M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z"/>
                    </svg>
                </div>
                <button class="lab-card1" name="labid" value="1" type="submit"><h1 style="font-size: 15px; height: 15px;">Lab 1</h1></button>
                <button class="lab-card2" name="labid" value="2" type="submit"><h1 style="font-size: 15px; height: 15px;">Lab 2</h1></button>
                <button class="lab-card3" name="labid" value="3" type="submit"><h1 style="font-size: 15px; height: 15px;">Lab 3</h1></button>
                <button class="lab-card4" name="labid" value="4" type="submit"><h1 style="font-size: 15px; height: 15px;">Lab 4</h1></button>
            </form>
            <h2 style="position: absolute; top: 60px; left: 25%">Hall Way</h2>
            <div class="main-container">
                {% for row, value in rows.items %}
                    <div class="row">
                    {% for sys in value %}
                        {% if sys.sys_no == "Piller" %}
                                <div class="btn btn-warning" style="color: white;">Pillar</div>
                        {% elif sys.sys_no in booked_seats %}
                                <div class="btn btn-dark occupied-seat-btn">
                                    "{{sys.sys_no}}"
                                </div>
                        {% else %}
                                <div class="btn btn-light seat-btn">"{{sys.sys_no}}"</div>
                        {% endif %}
                    {% endfor %}
                    </div>
                {% endfor %}
                
            </div>
        </div>

        <form class="request-form" action="submitreq" method="post">
            {% csrf_token %}
            <h4 class="sysid">System No - </h4>
            <input type="text" name="sys-no" style="display:none"/>
            <input type="text" name="lab-no" style="display:none" value={{lab_no}}/>
            <input type="text" name="row-no" style="display:none" value={{row_no}}/>
            <div class="time-from">
                <h1 style="font-size: 15px; height: 15px;">From</h1>
                <input type="time" name="time_from" class="form-control time" />
            </div>
            <div class="time-till">
                <h1 style="font-size: 15px; height: 15px;">Till</h1>
                <input type="time" name="time_till" class="form-control time" />
            </div>
            <div class="date-field">
                <h1 style="font-size: 15px; height: 15px;">Date</h1>
                <input type="date" name="date" class="form-control date" />
            </div>
            <div class="reason">
                <label class="form-label">Reason</label>
                <textarea class="form-control reason-text" name="reason"></textarea>
            </div> 
            <input class="btn btn-primary submit-btn" type="submit" style="display: flex; position: absolute; top: 365px;" value="Submit Request">
        </form>

    </div>
    <script>
        const dialog = document.querySelector(".close-labs-graphic-card");
        const btn = document.querySelector(".lab-label");

        btn.addEventListener("click", () => {
            dialog.classList.toggle("open-labs-graphic-card");
        });
        
        
    </script>
    <script>  
        $(function () {  
            $('#time').datetimepicker({  
                format: 'DD/MM/YYYY hh:mm A'  
            });  
        });
    </script>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
    $(document).ready(function() {
        // Add a click event listener to all buttons with the class 'btn-primary'
        $('.seat-btn').click(function() {
        // Remove the 'btn-clicked' class from all buttons
        $('.seat-btn').removeClass('btn-clicked');
        
        // Add the 'btn-clicked' class to the clicked button
        $(this).addClass('btn-clicked');
        });
    });
    </script>

    <script>
        $(document).ready(function() {
            $('.seat-btn').click(function() {
                var sys_no = $(this).text();
                var existingText = $('.sysid').text();
                
                // Check if existingText is not empty
                if (existingText !== "") {
                    // Check if sys_no is already in existingText
                    if (existingText.includes(sys_no)) {
                        // Remove sys_no from existingText
                        
                        existingText = existingText.replace(", "+sys_no, "").trim();
                        existingText = existingText.replace(sys_no+", ", "").trim();
                        // Remove the comma and space if present at the end
                        if (existingText.endsWith(", ")) {
                            existingText = existingText.substring(0, existingText.length - 2).trim();
                        }
                    } else {
                        // Add sys_no with a comma and a space
                        if (existingText !== "System No - ") {
                            existingText += ", ";
                        }
                        existingText += sys_no;
                    }
                } else {
                    existingText = sys_no;
                }
                
                $('.sysid').text(existingText);
                $('input[name="sys-no"]').val(existingText); // Set the value to the entire text
                $(this).toggleClass('selected-btn');
            });
        });
    </script>

  </body>
</html>